﻿@using DDD.WebUI.ViewModels.Product;
@using DDD.WebUI.Infrastructure.HTMLHelpers;
@using DDD.Domain.Entities;

@model ProductSearchResultViewModel

<div id="productResults">

    <div class="productsTitle">
        <h3>@Html.ActionLink("Home", "Index", "Home")> 
                     @Html.Encode(Model.SelectedCategoryName) </h3>
   </div>


   <div style="margin-bottom: 41px;" >

        <span class="item-displayoptions-sort">Sort by
           <select class="item-sortdropdown" id="ddlSortBy">                
                    <option value="1">Price - High to Low</option>
                    <option value="2">Price - Low to High</option>                
           </select>
       </span>


       <span class="item-displayoptions-pages">products found 
                <span id="numberOfProductsFound">
                              @Html.Encode(Model.PagingInfoModel.NumberOfTitlesFound) 
                </span>

                 <span id="pageLinksTop">  
                               @Html.BuildPageLinksFrom(Model.PagingInfoModel.CurrentPage, 
                                     Model.PagingInfoModel.TotalNumberOfPages,
                                       x => "JavaScript:displayPage(" + x + ")")
                  </span>
       </span>
   </div>
</div>