﻿@using DDD.Domain.Entities;
@model IEnumerable<ProductTitleImage>
@Scripts.Render("~/Scripts/jquery-1.7.1.js")
@Scripts.Render("http://malsup.github.io/min/jquery.cycle.all.min.js")
@Scripts.Render("`/Scripts/jquery.easing.1.3.js")
                                         
                                                        
                       @if (Model == null || Model.Count() == 0)
                       { 
                              <img   src="../../Content/Images/no-image.jpg" height="400" width="332" alt="no-image" />  
                       }
                       else
                       {
     
                          <div class="productTitlePictureSet">
                             @foreach (ProductTitleImage pp in Model)
                             {
                                 if (pp.ImageOrderId == 1)
                                 {
	                               <img src="@Url.Action("GetProductImageFromSet", "Product", new { imageId = pp.Id })"   height="400" width="332" 
                                            class= "first" alt = "main-image-from-set"/>
                                           
                                 }
                                 else
                                 {
                               <img src="@Url.Action("GetProductImageFromSet", "Product", new { imageId = pp.Id })"  height="400" width="332" 
                                    alt = "image-from-set"/>
                                 }
                             }
	                    </div>
                       }
                    

 <script type="text/javascript">
     /* Html.Raw(data.para1.Replace(Environment.NewLine, "<br/>"))Html.Raw(data.para1.Replace(Environment.NewLine, "<br/>"))*/
     /* or <pre>Model.para1</pre>*/
     /*http://jquery.malsup.com/cycle/       */

     $(document).ready(function () {
         $('.productTitlePictureSet').cycle({ delay: -100 });
     });

     
 
 </script>  