﻿
@using DDD.WebUI.ViewModels.Product;
@using DDD.WebUI.Infrastructure.HTMLHelpers;
@using DDD.Domain.Entities;

@model ProductSearchResultViewModel
@{
    Layout = "~/Views/Product/ProductCatalog.cshtml";
}

@{
        // @Scripts.Render("http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.js")
    
    
  //  @Scripts.Render("~/Scripts/jquery-1.7.1.js")
//@Scripts.Render("http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.js")
//@Scripts.Render("~/Scripts/json2.js")
//@Scripts.Render("http://malsup.github.io/min/jquery.cycle.all.min.js")
//@Scripts.Render("`/Scripts/jquery.easing.1.3.js")
//@Scripts.Render("http://code.jquery.com/ui/1.10.2/jquery-ui.js")
//@Scripts.Render("~/bundles/jqueryval")

//https://github.com/jquery/jquery-tmpl/blob/master/jquery.tmpl.min.js
}


@section MenuContent {
      
        
         
          @Html.Partial("RefinementGroups", Model)  
}          

@section MainContent {


@Scripts.Render("~/Scripts/jquery-1.7.1.js")
@Scripts.Render("http://malsup.github.io/min/jquery.cycle.all.min.js")
@Scripts.Render("`/Scripts/jquery.easing.1.3.js")
@Scripts.Render("http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.js")
@Scripts.Render("http://code.jquery.com/ui/1.10.2/jquery-ui.js")







@Scripts.Render("~/Scripts/Custom/AjaxHelp.js")

<div id="content">

@Html.Hidden("categoryId", Html.Encode(Model.SelectedCategory.ToString())) 


<div id="msg"></div>
<div id="overlay" class="overlay"></div>


<div class="pager">
    
          
        <div id="divSortBy">
  @Html.Label("Sort by") <select class="item-sortdropdown" id="ddlSortBy">                
                    <option value="1">Price - High to Low</option>
                    <option value="2">Price - Low to High</option>                
           </select>
       
 </div>      
  <div class ="divTotalItemsFound">@Html.Label("Products found: ") <span id="numberOfProductsFound" class="spanTotalItemsFound">@Model.PagingInfoModel.NumberOfTitlesFound</span></div>      
        @Html.Label("Page:") 
        <span id="pageLinksTop">  
                               @Html.BuildPageLinksFrom(Model.PagingInfoModel.CurrentPage,
                                     Model.PagingInfoModel.TotalNumberOfPages,
                                       x => "JavaScript:displayPage(" + x + ")")
                  </span>

        @Html.Label("Items per page") 
        @Html.DropDownListForItemsPerPage("NumberOfResultsPerPage", "", null, Model.ItemsPerPage)
</div>         

<div id="items">           
   <ul class="items-list">
   @foreach (ProductTitle product in Model.Products)
   {
           
      <li class="item-detail">  
      @if (product.ProductTitleImages == null || product.ProductTitleImages.Count() == 0)
      {                        
      
            <img   src="../../Content/Images/no-image.jpg"   class="item-productimage" alt="img-@product.Id"/>
      }
      else
      {
          
          <img src="@Url.Action("GetImage", "Product", new { id = product.Id }, null)"
          class="item-productimage" alt="img-@product.Id"/>
      }
          
            <div class="divProductColorsForListView">
                            <div class="divColorSet">@Html.Partial("ProductTitleColors", product.ProductsQuantity)</div>
          </div>    
          
          <div class="item-productname">
            @Html.ActionLink(product.Brand.Name + " " + product.Name,
                               "Details", "Product", new
                               {
                                   forCatalog = 1,
                                   id = product.Id,
                                   ReturnUrl = Request.Url.PathAndQuery
                               }, null)                       
          </div>
          <div class="item-price">@product.Price</div>
         
       </li>
   }
   </ul>            
</div>


<p style="clear:both; margin-top:15px;"></p>
<div class="pager">
   
        @Html.Label("Page:") 
        <span id="pageLinksBottom">  
                               @Html.BuildPageLinksFrom(Model.PagingInfoModel.CurrentPage,
                                     Model.PagingInfoModel.TotalNumberOfPages,
                                       x => "JavaScript:displayPage(" + x + ")")
                  </span>

        @Html.Label("Items per page:") 
        @Html.DropDownListForItemsPerPage("NumberOfResultsPerPageBottom", "", null, Model.ItemsPerPage)

 </div> 
<p style="clear:both; margin-top:15px;"></p>   
 
</div>

 
      

    
<div id="dialog-noproducts" title="No products found matching your refinement">
  
</div> 

@{
    var link = Url.Action("Details", "Product",
       new { id = 0, forCatalog = 1, ReturnUrl = Request.Url.PathAndQuery });
    link = link.Replace("/Product/Details/0", "/Product/Details/${Id}");
}








<script type="text/javascript">
    // Array to store the refinment selections made by a user.
    var refinementSelections = [];
    // Flag to stop user selecting doing anything while page is being reloaded.
    var disallowUpdates = false;
    // Vars to store data on the last refinement selection.
    var lastSelectedRefinementItemId;
    var lastSelectedRefinementGroupId;
    // Flag to show if last action was a narrowing or critera widerning selection.  
    var lastActionWasToNarrowProductRefinement = false;


    // OnPage Load function, run when DOM is fully loaded.
    // =================================================================
    $().ready(function () {

        $('#ddlSortBy').val('@Model.SortBy');

        $('#ddlSortBy').change(function () {
            if (disallowUpdates == false)
                displayPage(1);

        });


        $("#colorBoxesHide").click(function () {

            $("#colorBoxesHide").toggleClass("selectedRadioItem").toggleClass("notSelectedRadioItem");
            $("#colorBoxesShow").toggleClass("selectedRadioItem").toggleClass("notSelectedRadioItem");

            if ($("#colorBoxesHide").hasClass("selectedRadioItem"))
                $(".divProductColorsForListView").hide();
            else $(".divProductColorsForListView").show();

            return false;
        });

        $("#colorBoxesShow").click(function () {

            $("#colorBoxesHide").toggleClass("selectedRadioItem").toggleClass("notSelectedRadioItem");
            $("#colorBoxesShow").toggleClass("selectedRadioItem").toggleClass("notSelectedRadioItem");
            if ($("#colorBoxesHide").hasClass("selectedRadioItem"))
                $(".divProductColorsForListView").hide();
            else $(".divProductColorsForListView").show();
            return false;
        });




        $("#NumberOfResultsPerPage, #NumberOfResultsPerPageBottom").change(function () {
            var select = $(this);

            if (select.attr("id") == "NumberOfResultsPerPage")
                         $("#NumberOfResultsPerPageBottom").val(select.val());
            else $("#NumberOfResultsPerPage").val(select.val());

            if (disallowUpdates == false)
                    displayPageItemsPerPageChanged(select.val());
        });

       // jQuery("#dialog-noproducts").dialog({
       //     bgiframe: true, autoOpen: false, height: 100, modal: true
       // });

    });

    // Method called to determine the sort ordering and the current category.
    // ====================================================================
    function displayPage(index) {
       
        if (disallowUpdates == false) {

            var categoryId = $('#categoryId').val();
            var sortBy = $('#ddlSortBy').val();
            var itemsPerPage = $("#NumberOfResultsPerPage").val();
            getProducts(index, categoryId, sortBy, itemsPerPage); 
        }
    }

   
    //===============================================================
    function displayPageItemsPerPageChanged(itemsPerPage) {

        if (disallowUpdates == false) {

            var categoryId = $('#categoryId').val();
            var sortBy = $('#ddlSortBy').val();
           
            getProducts(1, categoryId, sortBy, itemsPerPage);
        }
    }

    
    // =======================================================================
    function refineSearch(refinementGroupId, refinementItemId) {
       
        if (disallowUpdates == false) {
            itemRefinementElementId =
                 buildRefinementItemElementIdForm(refinementGroupId, refinementItemId);
           
            lastSelectedRefinementItemId = refinementItemId;
            lastSelectedRefinementGroupId = refinementGroupId;

            

            if (!isDisabled(itemRefinementElementId)) {
                if (isAvailable(itemRefinementElementId)) {
                    setAsSelected(itemRefinementElementId);
                    saveRefinementToFilterSelection(refinementGroupId, refinementItemId);
                    lastActionWasToNarrowProductRefinement = true;
                    
                    displayPage(1);
                }
                else if (isSelectedButDisabled(itemRefinementElementId)) {
                    setAsDisabled(itemRefinementElementId);
                    removeRefinementFromFilterSelection(refinementGroupId,
                                                        refinementItemId);
                   
                }
                else {
                    setAsAvailable(itemRefinementElementId);
                    removeRefinementFromFilterSelection(refinementGroupId,
                                                        refinementItemId);
                    lastActionWasToNarrowProductRefinement = false;
                    
                    displayPage(1);
                }
            }
        }
    }

   
    // ===============================================================
    function getProducts(index, categoryId, sortBy, itemsPerPage) {

       

        if (disallowUpdates == false) {
            disallowUpdates = true;

          //  showOverlay("overlay", "main", 10);
            var jsonData = JSON.stringify(
                {   "CategoryId": categoryId,
                    "ItemsPerPage" : itemsPerPage,
                    "Index": index,
                    "SortBy": sortBy,
                    "RefinementGroups": refinementSelections
                });



                $.ajax({
                    url: '@Html.Resolve("/Product/GetProductsByAjax")',
                    type: 'POST',
                    dataType: 'json',
                    data: jsonData,
                    contentType: 'application/json; charset=utf-8',
                    error:
                        function (xhr, ajaxOptions, thrownError) {
                            alert(xhr.status + "  " +
                                thrownError);
                        },
                    success: function (data) {

                        if (data.Products.length == 0) {
                            $('#items').empty();
                            showNoProductsFoundDialogBoxAndRevertSelection();
                        }
                        else {

                            $('#items').empty();

                            var ul = $("<ul class='items-list'></ul>");
                            $.each(data.Products, function (index, value) {
                                $("#productItemTemplate").tmpl(value).appendTo(ul);
                            });

                            ul.appendTo("#items");

                            if ($("#colorBoxesHide").hasClass("selectedRadioItem"))
                                $(".divProductColorsForListView").hide();
                            else $(".divProductColorsForListView").show();

                            $('#numberOfProductsFound').text(data.PagingInfoModel.NumberOfTitlesFound);

                            buildPageLinksFor("#pageLinksTop",
                                              data.PagingInfoModel.CurrentPage, data.PagingInfoModel.TotalNumberOfPages);
                            buildPageLinksFor("#pageLinksBottom",
                                              data.PagingInfoModel.CurrentPage, data.PagingInfoModel.TotalNumberOfPages);

                            for (var i = data.RefinementGroups.length - 1; i >= 0; --i) {
                                filterOutRefinements(data.RefinementGroups[i].GroupId,
                                                   data.RefinementGroups[i].Refinements);
                            }
                        }

                        //  hideOverlay("overlay");

                        disallowUpdates = false;
                    }
                });
        }
    }

  
    // ===============================================================
    function filterOutRefinements(refinementGroupId, availableProductRefinements) {

        $("[id^='" + buildGroupRefinementElementIdForm(refinementGroupId) +
                                                             "']").each(function () {

                                                                 itemRefinementElementId = $(this).attr('id');

                                                                 var refinementItemId = findRefinementItemIdFrom(itemRefinementElementId);

                                                                 var refinementItemIdMatched = refinementItemIdIsInProductAvailableRefinements
                                         (availableProductRefinements, refinementItemId);

                                                                 if (!lastSelectionWasMadeIn(refinementGroupId)) {

                                                                     if (lastActionWasToNarrowProductRefinement == true) {

                                                                         if ((isSelected(itemRefinementElementId) ||
                         isSelectedButDisabled(itemRefinementElementId)) &&
                         !refinementItemIdMatched) {
                                                                             setAsSelectedButDisabled(itemRefinementElementId);
                                                                         }
                                                                         else if (!refinementItemIdMatched) {
                                                                             setAsDisabled(itemRefinementElementId);
                                                                         }
                                                                         else if (isDisabled(itemRefinementElementId) &&
                             refinementItemIdMatched) {
                                                                             setAsAvailable(itemRefinementElementId);
                                                                         }
                                                                         else if (isSelectedButDisabled(itemRefinementElementId) &&
                             refinementItemIdMatched) {
                                                                             setAsSelected(itemRefinementElementId);
                                                                         }
                                                                     }
                                                                     else {

                                                                         if ((isSelected(itemRefinementElementId) ||
                         isSelectedButDisabled(itemRefinementElementId)) &&
                         !refinementItemIdMatched) {
                                                                             setAsSelectedButDisabled(itemRefinementElementId);
                                                                         }
                                                                         else if ((isSelected(itemRefinementElementId) ||
                              isSelectedButDisabled(itemRefinementElementId)) &&
                              refinementItemIdMatched) {
                                                                             setAsSelected(itemRefinementElementId);
                                                                         }
                                                                         else if (isDisabled(itemRefinementElementId) &&
                             refinementItemIdMatched) {
                                                                             setAsAvailable(itemRefinementElementId);
                                                                         }
                                                                         else if (isDisabled(itemRefinementElementId) &&
                            !refinementItemIdMatched &&
                            !otherRefinementSelectionsExistApartFrom(refinementGroupId)) {
                                                                             setAsAvailable(itemRefinementElementId);
                                                                         }
                                                                         else if (isAvailable(itemRefinementElementId) &&
                             !refinementItemIdMatched) {
                                                                             setAsDisabled(itemRefinementElementId);
                                                                         }
                                                                     }
                                                                 }
                                                                 else if (lastActionWasToNarrowProductRefinement == false) {

                                                                     if (isSelected(itemRefinementElementId)) {
                                                                         setAsSelected(itemRefinementElementId);
                                                                     }
                                                                     else if (!otherRefinementSelectionsExistApartFrom(refinementGroupId)) {
                                                                         setAsAvailable(itemRefinementElementId);
                                                                     }
                                                                 }
                                                                 else if (isDisabled(itemRefinementElementId) && refinementItemIdMatched) {
                                                                     setAsAvailable(itemRefinementElementId);
                                                                 }
                                                             });
    }

    
    // ===============================================================
    function showNoProductsFoundDialogBoxAndRevertSelection() {

        itemRefinementElementId = buildRefinementItemElementIdForm
                (lastSelectedRefinementGroupId, lastSelectedRefinementItemId);

        setAsSelected(itemRefinementElementId);

        saveRefinementToFilterSelection(lastSelectedRefinementGroupId,
                                        lastSelectedRefinementItemId);

        $("#dialog-noproducts").dialog('open');
    }

    
    // ===============================================================
    function findRefinementItemIdFrom(itemRefinementElementId) {

        var refinementItemId = 0;

        refinementItemId = itemRefinementElementId.substring
        (itemRefinementElementId.lastIndexOf("-") + 1, itemRefinementElementId.length);

        return refinementItemId;
    }

    
    // ===============================================================
    function lastSelectionWasMadeIn(refinementGroupId) {
        return lastSelectedRefinementGroupId == refinementGroupId;
    }

  
    // ===============================================================
    function otherRefinementSelectionsExistApartFrom(refinementGroupId) {

        var refinementSelectionsCount = 0;

        for (var i = refinementSelections.length - 1; i >= 0; --i) {

            if (refinementSelections[i].GroupId != refinementGroupId) {
                refinementSelectionsCount +=
                     refinementSelections[i].SelectedRefinements.length;
                
            }
        }

        return refinementSelectionsCount > 0;
    }

  
    // ===============================================================
    function refinementItemIdIsInProductAvailableRefinements(availableProductRefinements,
                                                             refinementItemId) {

        for (var i = availableProductRefinements.length - 1; i >= 0; --i) {
            if (availableProductRefinements[i].Id == refinementItemId)
                return true;
        }
        return false;
    }

 
    // ===============================================================
    function buildGroupRefinementElementIdForm(refinementGroupId) {
        return 'RefGrp-' + refinementGroupId;
    }

    function buildRefinementItemElementIdForm(refinementGroupId, refinementItemId) {
        return 'RefGrp-' + refinementGroupId + '-' + refinementItemId;
    }

    function serviceFailed(result) {
        alert('Service call failed: ' + result.status + '' + result.statusText);
    }

    
    // ===============================================================
    function removeRefinementFromFilterSelection(refinementGroupId, refinementItemId) {

        var refinementSelectionGroup;

        for (var i = refinementSelections.length - 1; i >= 0; --i) {

            if (refinementSelections[i].GroupId == refinementGroupId) {
                refinementSelectionGroup = refinementSelections[i];
            }
        }

        refinementSelectionGroup.SelectedRefinements.splice(
               findIndexOf(refinementSelectionGroup.SelectedRefinements,
                           refinementItemId), 1);

    }
    // number in array 
    function findIndexOf(refinementGroupId, refinementItemId) {

        for (var i = refinementGroupId.length - 1; i >= 0; --i) {
            if (refinementGroupId[i] == refinementItemId)
                return i;
        }
        return -1;
    }

    function saveRefinementToFilterSelection(refinementGroupId, refinementItemId) {

        var refinementSelectionGroup = new Object();
        var foundExistingGroup = false;

        if (refinementSelections.length == 0) {

            refinementSelectionGroup.GroupId = refinementGroupId;
            refinementSelections[0] = refinementSelectionGroup;
            refinementSelectionGroup.SelectedRefinements = [];
        }
        else {

            for (var i = refinementSelections.length - 1; i >= 0; --i) {

                if (refinementSelections[i].GroupId == refinementGroupId) {
                    refinementSelectionGroup = refinementSelections[i];
                    foundExistingGroup = true;
                }

            }
            if (foundExistingGroup == false) {
                refinementSelectionGroup.GroupId = refinementGroupId;
                refinementSelections[refinementSelections.length] =
                                                refinementSelectionGroup;
                refinementSelectionGroup.SelectedRefinements = [];
            }
        }

        refinementSelectionGroup.
          SelectedRefinements[refinementSelectionGroup.SelectedRefinements.length] =
                                                                        refinementItemId
    }


    
    // ===============================================================
    function buildPageLinksFor(spanId, index, totalPages) {

        var i = 1;
        var html = '';
        for (i = 1; i <= totalPages; i++) {

            if (i == index)
                html = html + "<a class='selected' href='JavaScript:displayPage(" + i +
                                                                ")'>" + i + "</a>&nbsp;";
            else
                html = html + "<a class='notselected' href='JavaScript:displayPage(" + i
                                                             + ")'>" + i + "</a>&nbsp;";
        }


        $(spanId).html(html);
    }

   
    // ===============================================================
    function setAsSelectedButDisabled(elementName) {
        $('#' + elementName).removeClass().addClass('selecteddisabledItem');
    }

    function setAsSelected(elementName) {
        $('#' + elementName).removeClass().addClass('selectedItem');
    }

    function setAsAvailable(elementName) {
        $('#' + elementName).removeClass().addClass('availableItem');
    }

    function setAsDisabled(elementName) {
        $('#' + elementName).removeClass().addClass('disabledItem');
    }

    function isSelected(elementName) {
        return ($('#' + elementName).attr("class") == "selectedItem");
    }

    function isAvailable(elementName) {
        return ($('#' + elementName).attr("class") == "availableItem");
    }

    function isDisabled(elementName) {
        return ($('#' + elementName).attr("class") == "disabledItem");
    }

    function isSelectedButDisabled(elementName) {
        return ($('#' + elementName).attr("class") == "selecteddisabledItem");
    }
               
</script>

<script type="text/html" id="productItemTemplate">                
    <li class='item-detail'>
      <img src='@Html.Resolve("/Product/GetImage/")${Id}' class ='item-productimage'/>
       <div class ='divProductColorsForListView'>
           <div class ='divColorSet'>
           {{each ProductColors}}  
                {{if ($value.ColorName == 'Multi')}}                  
                    <div  style='background: linear-gradient(to right, blue, green, white , red, brown,  blue); 
                 {{else}}   
                     <div  style='background-color:${$value.ColorName}; 
                 {{/if}} 

                 {{if  ( $('#RefGrp-3-'+$value.ColorId).hasClass('selectedItem'))}}
                     width:22px;height:22px;                 
                  {{/if}}
                  '> 
             </div>                
           {{/each}}
           </div>
           </div>
          <div class='item-productname'><a href ='@link'> ${BrandName} ${Name}</a></div>  
          <div class='item-price'>${Price}</div>                      
     </li>
   	   
</script>  
}