﻿@using DDD.WebUI.ViewModels.Product;
@using DDD.WebUI.Infrastructure.HTMLHelpers;
@using DDD.Domain.Entities;

@model ProductSearchResultViewModel

<div id="menuRefine">
<div class="refinement-box1">

        <h3><b>&nbsp;@Html.ActionLink("Home", "Index", "Home") ►@Html.Encode(Model.SelectedCategoryName) </b></h3>
   
</div>

   
     @foreach (var refinementGroup in Model.RefinementGroups)
      {     	    
       <h4>@Html.Encode(refinementGroup.Name) </h4>
       <div class="refinement-box">
       <ul class="refine-attributes">


        @foreach (var refinement in refinementGroup.Refinements)
           {  
           <li>
              <a class="availableItem" 
                 id="RefGrp-@Html.Encode(
                                    refinementGroup.GroupId.ToString() + '-' + 
                                    refinement.Id.ToString())" 

                 href="JavaScript:refineSearch(@Html.Encode(refinementGroup.GroupId), 
                                         @Html.Encode(refinement.Id.ToString()))">
                @Html.Encode(refinement.Name)
              </a>
           </li>		                              
         }	                             
       </ul>                 
      </div>   
   } 

   <h4>Color Box </h4> 
   <div class="refinement-box">
       <ul class="refine-attributes">
       <li><a href=""  id ="colorBoxesShow" class="selectedRadioItem"> Show</a></li>
       <li><a href=""  id ="colorBoxesHide" class="notSelectedRadioItem">Hide</a>
       <br/>&nbsp;</li>
       
       </ul>
       
  </div>  
    

  </div>   