﻿<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width" />
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/jquery-1.7.1.js" type="text/js"></script>
<script src="~/Scripts/jquery.validate.min.js" type="text/js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js" type="text/js"></script>







<title></title>
</head>

<body>

<div id="header">  
    @RenderSection("TitleContent", required: false)
</div>
<div id="main"></div>
@RenderSection("MenuContent", required: false)
@RenderSection("MainContent", required: false)
@RenderBody()

</body>
</html>
