﻿@model DDD.Domain.User.UserProfile
@{
ViewBag.Title = "Create Account";
Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<h2>Create Account</h2>


 @using (Html.BeginForm())
 {
     <div>
@Html.LabelFor(Model => Model.FirstName, new { @class = "editor-label" })
@Html.EditorFor(Model => Model.FirstName)
</div>
<div>
@Html.LabelFor(Model => Model.LastName, new { @class = "editor-label" })
@Html.EditorFor(Model => Model.LastName)
</div>
<div>
@Html.LabelFor(p => p.GenderId, new { @class = "editor-label" })
@Html.EnumDropDownListFor(p => p.GenderValue)<br /><br />
</div>


<div>
@Html.LabelFor(Model => Model.Password, new { @class = "editor-label" })
@Html.EditorFor(Model => Model.Password)
</div>
     
<div>
@Html.ActionLink("Create Account", "Index","User") 
</div>
 }