﻿@model DDD.WebUI.ViewModels.LoginViewModel
@{
ViewBag.Title = "User: Log In";
Layout = "~/Views/Shared/_UserLayout.cshtml";
}
    <h1>Log In</h1>
    <p>Sign in to your account</p>

    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        @Html.EditorForModel()

        <p><input type="submit" value="Sign in" /></p>
         <p>If a new user create  account</p>
        <p>@Html.ActionLink("Create Account", "Create")</p>
    }
