﻿
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section TitleContent {
       ADMIN
        
}
@Scripts.Render("~/Scripts/jquery-1.7.1.js")  
<script type="text/javascript">
    $(document).ready(function () {
        $("#linkHomeAdmin").addClass("selected");
    })
</script>
@section MainContent {

<img  title="admin" src="../../Content/Images/admin.png"/ alt="admin" style="width:500px;margin-left:50px;"/>
}


  

  