﻿@using DDD.Domain.Entities;
@model IEnumerable<Category>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section TitleContent {
       CATALOG ADMIN  
        
}


@section MainContent {
@Scripts.Render("~/Scripts/jquery-1.7.1.js")
<h3>Category list</h3>
<table class="tblProductAttributes">
 <tr>
     <th>ID</th>
     <th>Category name</th>
     <th>Actions</th>
</tr>

@foreach (var item in Model) {
    <tr>
          <td>@item.Id</td>    
        <td>                 
            @Html.ActionLink(item.Name, "Edit", new { item.Id })
        </td>
        <td>
               
               @using (Html.BeginForm("Delete", "CategoryAdmin", new { item.Id }))
            {
               <span class="DeleteLink" >
                <img alt="Delete Item " src="http://pics.ebaystatic.com/aw/pics/icon/iconTrashcan_16x16.gif"  border="0"/>
               </span>
                 @Html.Hidden("Id", item.Id)
                
            }
             </td>
            </tr>
}

</table>
<p>
    @Html.ActionLink("Add a new category", "Create")
</p>
<script type="text/javascript">
    $(document).ready(function () {
        $("#linkCategoryAdmin").addClass("selected");
        $('.DeleteLink').click(function () {
            var r = confirm("Do yoy want to delete this product?");
            if (r) {
                $(this).closest('form')[0].submit();
            }
        });
    })

</script>
}

