﻿@model IEnumerable<DDD.Domain.Entities.Brand>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section TitleContent {
        ADMIN  
        
}


@section MainContent {
@Scripts.Render("~/Scripts/jquery-1.7.1.js")
<h3>Brand list</h3>
<table class="tblProductAttributes">
 <tr>
     <th>ID</th>
     <th>Brand name</th>
     <th>Actions</th>
</tr>

@foreach (var item in Model) {
    <tr>
          <td>@item.Id</td>    
        <td>                 
            @Html.ActionLink(item.Name, "Edit", new { item.Id })
        </td>
        <td>
               
               @using (Html.BeginForm("Delete", "BrandAdmin", new { item.Id }))
            {
               <span class="DeleteLink" >
                <img alt="Delete Item " src="http://pics.ebaystatic.com/aw/pics/icon/iconTrashcan_16x16.gif" 
                onmouseover="this.src='../../Content/Images/iconTrashcanSelected_16x16.gif'"
                onmouseout="this.src='http://pics.ebaystatic.com/aw/pics/icon/iconTrashcan_16x16.gif'" border="0"/>
               </span>
                 @Html.Hidden("Id", item.Id)
                
            }
             </td>
            </tr>
}

</table>
<p>
    @Html.ActionLink("Add a new brand", "Create")
</p>





<script type="text/javascript">
    $(document).ready(function () {
        $("#linkBrandAdmin").addClass("selected");
        $('.DeleteLink').click(function () {
            var r = confirm("Do yoy want to delete this brand?");
            if (r) {
                $(this).closest('form')[0].submit();
            }
        });
    })

</script>
}