﻿@model DDD.Domain.User.UserProfile

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section TitleContent {
        
   Site Title     
}

@section MenuContent{
        <ul>  
        <li>@Html.ActionLink("Home", "Index", new{id=@Model.Id})</li> 
        <li>@Html.ActionLink("Profile", "Info", new{id=@Model.Id})</li>        
        
        <li>@Html.ActionLink("Search", "Search",new{id=@Model.Id})</li>
   </ul>        
}



@section MainContent {

<h3>@Html.DisplayFor(p => p.FirstName) @Html.DisplayFor(p => p.LastName), @Html.DisplayFor(p => p.Age)</h3>

@if (Model.ImageData == null )
                {
                    
                             <img   src="../../Content/Images/no_photo.jpg" / width="150" alt="no-image" />
                   
                }
                else
                {    
                                        <img width="150"  alt= "image" src="@Url.Action("GetImage", "User",
                            new { Model.Id })" />
                              
                                
                              
                }


<table>
<tr>
<td>@Html.LabelFor(p => p.FirstName, new { @class = "editor-label" })</td>
<td>@Html.DisplayFor(p => p.FirstName)</td>
</tr>


<tr>
<td>@Html.LabelFor(p => p.LastName, new { @class = "editor-label" })</td>
<td>@Html.DisplayFor(p => p.LastName)</td>
</tr>

<tr>
<td>@Html.LabelFor(p => p.Age, new { @class = "editor-label" })</td>
<td>@Html.DisplayFor(p => p.Age)<br/></td>
</tr>

<tr>
<td>@Html.LabelFor(p => p.Anketa.MaritalStatusId, new { @class = "editor-label" })</td>
<td>@Html.DisplayFor(p => p.Anketa.MaritalStatusValue)<br/></td>
</tr>


<tr>
<td>@Html.LabelFor(p => p.Anketa.HairColorId, new { @class = "editor-label" })</td>
<td>@Html.DisplayFor(p => p.Anketa.HairColorValue)<br/></td>
</tr>

<tr>
<td>@Html.LabelFor(p => p.Anketa.EyeColorId, new { @class = "editor-label" })</td>
<td>@Html.DisplayFor(p => p.Anketa.EyeColorValue)<br/></td>
</tr>

<tr>
<td>@Html.LabelFor(p => p.Anketa.EducationId, new { @class = "editor-label" })</td>
<td>@Html.DisplayFor(p => p.Anketa.EducationValue)<br/></td>
</tr>


<tr>
<td>@Html.LabelFor(p => p.Anketa.OccupationId, new { @class = "editor-label" })</td>
<td>@Html.DisplayFor(p => p.Anketa.OccupationValue)<br/></td>
</tr>







</table>



} 