﻿@model DDD.Domain.User.UserProfile
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section TitleContent {
        
   Site Title     
}

@section MenuContent{
        <ul>  
        <li>@Html.ActionLink("Home", "Index", new{id=@Model.Id})</li> 
        <li>@Html.ActionLink("Profile", "Info", new{id=@Model.Id})</li>        
      
        <li>@Html.ActionLink("Search", "Search",new{id=@Model.Id})</li>
   </ul>        
}



@section MainContent {
<div style="padding-right:10px;">
<div style="float:left; padding-right:30px;">
<h3>@Model.FirstName @Model.LastName</h3>
@if (Model.ImageData == null)
                    {<img   src="../../Content/Images/no_photo.jpg" / width="150" alt="no-image" />}
else
{ <img width="150"  alt= "image" src="@Url.Action("GetImage", "User",
                            new { Model.Id })" /> }



</div>

<div style="float:left; padding-left:30px;">

@Html.Action("List", Model)
</div>
</div>
} 
