﻿@using DDD.Domain.User;
@using DDD.WebUI.Infrastructure.HTMLHelpers;

@model UserProfile

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section TitleContent {
        
   Site Title     
}

@section MenuContent{
        <ul>  
        <li>@Html.ActionLink("Home", "Index", new { id = @Model.Id })</li> 
        <li>@Html.ActionLink("Profile", "Info", new { id = @Model.Id })</li>        
        
        <li>@Html.ActionLink("Search", "Search", new { id = @Model.Id })</li>
   </ul>        
}


@section MainContent {
<h2>Edit Profile</h2>

@using (Html.BeginForm("index", "User", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

        if (Model.ImageData == null)
        {
                    
                             <img   src="../../Content/Images/no_photo.jpg" / width="150" alt="no-image" />
            }          
      
        else {                <div style="overflow:auto;width:600px"> 
                                <table><tr><td>
                                        <img width="150" height="167" alt= "image" src="@Url.Action("GetImage", "User",
                            new { Model.Id })" />
                            </td>
                            <td><img   src="../../Content/Images/no_photo.jpg" / width="150"  height="167" alt="no-image" /></td>
                            <td><img   src="../../Content/Images/no_photo.jpg" / width="150" height="167" alt="no-image" /></td>
                            <td><img   src="../../Content/Images/no_photo.jpg" / width="150" height="167" alt="no-image" /></td>
                             <td><img   src="../../Content/Images/no_photo.jpg" / width="150" height="167" alt="no-image" /></td>
                             <td><img   src="../../Content/Images/no_photo.jpg" / width="150" height="167" alt="no-image" /></td>
                             <td><img   src="../../Content/Images/no_photo.jpg" / width="150" height="167" alt="no-image" /></td> 
                               </tr></table>
                            </div>
        }
        <div class="editor-field"> Upload new image:
                        <input type="file" name="image" id="image"/>
    </div> 

<br />
<h2> General Info</h2> 
@Html.HiddenFor(p => p.Id)

@Html.LabelFor(p => p.FirstName, new { @class = "editor-label" })<br />
@Html.EditorFor(p => p.FirstName, new { @class = "text-box single-line" })<br /><br />
    
    
@Html.LabelFor(p => p.LastName, new { @class = "editor-label" })<br />
@Html.EditorFor(p => p.LastName, new { @class = "text-box single-line" })<br /><br />
    
    
@Html.LabelFor(p => p.GenderValue, new { @class = "editor-label" })<br />
@Html.EnumDropDownListFor(p => p.GenderValue)<br /><br />
    
    
@Html.LabelFor(p => p.BirthDay, new { @class = "editor-label" })<br />
@Html.EditorFor(p => p.BirthDay, new { @class = "editor-label" })<br /><br />
    
@Html.LabelFor(p => p.Email, new { @class = "editor-label" })<br />
@Html.EditorFor(p => p.Email, new { @class = "editor-label" })<br /><br />
<h2> Anketa for Search</h2>    

@Html.LabelFor(p => p.Anketa.MaritalStatusId, new { @class = "editor-label" })<br />
@Html.EnumDropDownListFor(p => p.Anketa.MaritalStatusValue)<br /><br />

@Html.LabelFor(p => p.Anketa.HairColorId, new { @class = "editor-label" })<br />
@Html.EnumDropDownListFor(p => p.Anketa.HairColorValue)<br /><br />

@Html.LabelFor(p => p.Anketa.EyeColorId, new { @class = "editor-label" })<br />
@Html.EnumDropDownListFor(p => p.Anketa.EyeColorValue)<br /><br />
<
@Html.LabelFor(p => p.Anketa.OccupationId, new { @class = "editor-label" })<br />
@Html.EnumDropDownListFor(p => p.Anketa.OccupationValue)<br /><br />

@Html.LabelFor(p => p.Anketa.EducationId, new { @class = "editor-label" })<br />
@Html.EnumDropDownListFor(p => p.Anketa.EducationValue)<br /><br />

@Html.LabelFor(p => p.Anketa.OccupationId, new { @class = "editor-label" })<br />
@Html.EnumDropDownListFor(p => p.Anketa.OccupationValue)<br /><br />  
  
   
    
 <div class="editor-field">        
<input type="submit" value="Save" />          
       
                    
   </div> 
   }      
}

   