﻿@model IEnumerable<DDD.Domain.User.UserProfile>


<h3>Search Result</h3>

<table class="Grid">


@foreach (var item in Model) {
    
         
         <tr>
        <td>
        @if (item.ImageData == null)
        {
                    
                             <img   src="../../Content/Images/no_photo.jpg" / width="100" alt="no-image" />
                   
        }
        else
        {    
                                        <img width="100"  alt= "image" src="@Url.Action("GetImage", "User",
                            new { id = item.Id })" />
                                                             
                              
        }
            </td><td><b>
            @item.FirstName  @item.LastName , @item.Age<br />                           
            @Html.ActionLink("Details", "Details", new { id = item.Id })</b>
        </td>
       </tr>
        
}

</table>





