﻿@using DDD.Domain.User;
@model DDD.Domain.User.UserProfile
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section TitleContent {
        
   Site Title     
}

@section MenuContent{
        <ul>  
        <li>@Html.ActionLink("Home", "Index", new{id=@Model.Id})</li> 
        <li>@Html.ActionLink("Profile", "Info", new{id=@Model.Id})</li>        
      
        <li>@Html.ActionLink("Search", "Search",new{id=@Model.Id})</li>
   </ul>        
}



@section MainContent {

<form action="/User/GetResult/@Model.Id">
<div style="padding-right:10px;">
<div style="float:left; padding-right:30px;">
<h3>Search for @Model.FirstName @Model.LastName</h3>

@if (Model.ImageData == null)
                    {<img   src="../../Content/Images/no_photo.jpg" / width="150" alt="no-image" />}
else
{ <img width="150"  alt= "image" src="@Url.Action("GetImage", "User",
                            new { Model.Id })" /> }

 <div style="padding-left:30px; padding-top:30px;">
<input type="submit"  title = "Search" name="search" value="Search"/>
</div> 
</div>
<div style="float:left; padding-left:30px; padding-top:30px;">

<b>Hair Color</b><br />
@foreach (var c in Enum.GetValues(typeof(HairColor)).Cast<HairColor>())
{   
     @c.ToString()   <input type="checkbox" name="ColorIds" value="@c.ToString()"/>
} 
<br /><br />

<b>Eye Color</b><br />
@foreach (var c in Enum.GetValues(typeof(EyeColor)).Cast<EyeColor>())
{   
     @c.ToString()   <input type="checkbox" name="ColorIds" value="@c.ToString()"/>
}
<br /><br />

<b>Occupation</b><br />
@foreach (var c in Enum.GetValues(typeof(Occupation)).Cast<Occupation>())
{   
     @c.ToString()   <input type="checkbox" name="ColorIds" value="@c.ToString()"/>
} 
<br /><br />

<b>Marital Status</b><br />
@foreach (var c in Enum.GetValues(typeof(MaritalStatus)).Cast<MaritalStatus>())
{   
     @c.ToString()   <input type="checkbox" name="ColorIds" value="@c.ToString()"/>
}             
</div>
  
</div>
</form>
} 