﻿@model DDD.Domain.Shipping.ShippingDetails
@{
ViewBag.Title = "SportStore: Checkout";
}


@Scripts.Render("~/Scripts/jquery-1.7.1.js")

@{
    Layout = "~/Views/Shared/_ProductCatalogLayout.cshtml";
}

@section TitleContent {
<div class="title"> 
 CATALOG
</div>         
}

@section MenuContent {
@Html.Action("GetCategoriesMenu", "Product")
   
}

@section MainContent {
<div id="content">
<div id="divCheckout">
<h2>Check out now</h2>
Please enter your details, and we'll ship your goods right away!
@using (Html.BeginForm())
{
 @Html.ValidationSummary()
<h3>Ship to</h3>
<div>@Html.LabelFor(x => x.Name)@Html.EditorFor(x => x.Name)</div>
<h3>Address</h3>
<div> @Html.Label("Line1") @Html.EditorFor(x => x.Line1)</div>
<div> @Html.LabelFor(x => x.Line2)  @Html.EditorFor(x => x.Line2)</div>
<div> @Html.LabelFor(x => x.Line3) @Html.EditorFor(x => x.Line3)</div>
<div> @Html.LabelFor(x => x.City)  @Html.EditorFor(x => x.City)</div>

    

    
 <div>
 @Html.LabelFor(p => Model.StateId)
 @Html.DropDownListForIAttributeSource("StateId", Model.StateId, Model.States, "Select State")
 </div>
    
    
            
<div>@Html.LabelFor(x => x.Zip)  @Html.EditorFor(x => x.Zip)</div>


<h3>Options</h3>
<div >
<label>
@Html.EditorFor(x => x.GiftWrap)
</label>
Gift wrap these items
</div>
<p>
<input class="actionButtons" type="submit" value="Complete order" />
</p>

}
</div>
</div>
}