﻿
@{
ViewBag.Title = "SportStore: Checkout";
}

@{
    Layout = "~/Views/Shared/_ProductCatalogLayout.cshtml";
}

@section TitleContent {
<div class="title"> 
 CATALOG 
</div>         
}



@section MenuContent {
       @Html.Action("GetCategoriesMenu", "Product")  
}

@section MainContent {
<div id="content">
<div id="#divCompleted">
<h2>Thanks!</h2>
Thanks for placing your order. We'll ship your goods as soon as possible.
</div>
</div>
}