﻿@using DDD.Domain.Entities;
@using DDD.WebUI.ViewModels.Basket;
@model CartIndexViewModel

@Scripts.Render("~/Scripts/jquery-1.7.1.js")

@{
    Layout = "~/Views/Shared/_ProductCatalogLayout.cshtml";
}

@section TitleContent {
<div class="title"> 
CATALOG
</div>         
}



@section MenuContent {
@Html.Action("GetCategoriesMenu", "Product")
}


@{
    var col = Model.Cart.Lines.Sum(p => p.Quantity);
}

<table id="tblCart" align="center">
<caption>You Have (@col) Items in Your Shopping Bag</caption>
<thead>

<tr >

<th align="left" colspan="2" >Your Items</th>

<th align="center" >Item Price</th>
<th align="center" >Quantity</th>
<th align="center" >Subtotal</th>
<th align="center">Remove</th>
</tr>
</thead>
<tbody>

@foreach (var line in Model.Cart.Lines)
{
<tr>
<td align="left" valign="top"  >


      <img src="@Url.Action("GetImage", "Product", new { id = line.Id }, null)"
       width="70px;" alt="img-@line.Id"/>
</td>


<td align="left" valign="top">
<a href="/Product/Details/@line.Id"> @line.BrandName  @line.Name</a><br />
           Size @line.ProductSizeName, Color @line.ProductColorName   </td>

<td align="center" valign="top">@line.Price.ToString("c")</td>

<td align="center" valign="top"  >@line.Quantity<br /></td>

<td  valign="top" align="center">@((line.Quantity * line.Price).ToString("c")) </td>


<td valign="top" align="center">


            @using (Html.BeginForm("RemoveFromCart", "Cart"))
            {
               <span class="DeleteLink" >
                <img alt="Delete Item " src="http://pics.ebaystatic.com/aw/pics/icon/iconTrashcan_16x16.gif" 
                onmouseover="this.src='../../Content/Images/iconTrashcanSelected_16x16.gif'"
                onmouseout="this.src='http://pics.ebaystatic.com/aw/pics/icon/iconTrashcan_16x16.gif'" border="0"/>
               </span>
                 @Html.Hidden("productId", line.Id)
                 @Html.HiddenFor(x => x.ReturnUrl)
            }
</td>        


</tr>
}
</tbody>
<tfoot>
<tr>
<td colspan="4" align="right">Total:</td>
<td align="center">
 @Model.Cart.ComputeTotalValue().ToString("c")
</td><td></td>
</tr>
</tfoot>
</table>

<p align="center" class="actionButtons">
<a href="@Model.ReturnUrl">Continue shopping</a>

@if (col > 0){
     @Html.ActionLink("Checkout now", "CheckOut")
}
</p>


<script type="text/javascript">
    $(document).ready(function () {

$('.DeleteLink').click(function() { 
    $(this).closest('form')[0].submit();
});




})

</script>