﻿@using DDD.Service.Model;
@using DDD.Domain.Abstract;
@using DDD.WebUI.Infrastructure.HTMLHelpers;
@using DDD.Domain.Entities;
@model DDD.WebUI.ViewModels.Admin.ProductEditAdminViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section TitleContent {
       ADMIN       
}

@{
    
    IEnumerable<Category> categories = Model.Categories;
    IEnumerable<Brand> brands = Model.Brands;
    ProductQuantity[,] quantity = Model.ArrayOfQuantity;
    ProductTitle productTitle = Model.ProductTitle;
  
}


@section MainContent {

@using (Html.BeginForm("Edit", "ProductAdmin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{


    if (Model.ProductTitle.Id > 0)
    {
        <h3>Edit product #@Model.ProductTitle.Id</h3> 
    }
    else
    {
        <h3>New product </h3>             
    }     
 
         
    <div class="tblset"> 
                     
              @Html.Partial("ProductImageGallery", productTitle)
                                             
     </div>
    
          <div class="fieldset">
              @Html.HiddenFor(p => p.ProductTitle.Id)
              @Html.Hidden("returnUrl", @Model.ReturnUrl)
              @Html.LabelFor(p => p.ProductTitle.Name)
              @Html.EditorFor(p => p.ProductTitle.Name)
              @Html.ValidationMessageFor(p => p.ProductTitle.Name)             
        </div>
        
         <div class="fieldset">       
              @Html.LabelFor(p => productTitle.Category)
               @Html.DropDownListForIAttributeSourceFor(p => p.ProductTitle.Category.Id, categories,
                    Model.ProductTitle.Category.Id == 0 ? "Select category" : null) 
              @Html.ValidationMessageFor(p => p.ProductTitle.Category.Id)
          </div>
          
  
          <div class="fieldset">       
              @Html.LabelFor(model => productTitle.Brand)
              @Html.DropDownListForIAttributeSourceFor(p => p.ProductTitle.Brand.Id,
                                    brands, "Select brand")
              @Html.ValidationMessageFor(p => p.ProductTitle.Brand.Id)
          </div>
      
    
    
    <div class="fieldset">
              @Html.LabelFor(p => p.ProductTitle.Price)
              @Html.EditorFor(p => p.ProductTitle.Price)
              @Html.ValidationMessageFor(p => p.ProductTitle.Price)
              
        </div> 
        
     <div class="fieldset">            
              @Html.LabelFor(p => p.ProductTitle.Description)
              @Html.ValidationMessageFor(p => p.ProductTitle.Description)<br /><br />
              @Html.EditorFor(p => p.ProductTitle.Description)
                        
        </div> 
   
    <div class="tblset">
              @Html.LabelFor(p => p.ProductTitle.ProductsQuantity)
              @Html.QuantityGrid(quantity, null, ViewData.ModelState)                     
     </div>

    <div class="editor-btn">        
              <input type="submit" value="Save" />
              @Html.Hyperlink(Model.ReturnUrl, "Cancel and return to Product List")
    </div>
                   
    <div id="uploadHidden"></div>
      
} 


@Scripts.Render("~/Scripts/jquery-1.7.1.js")
@Scripts.Render("http://malsup.github.io/min/jquery.cycle.all.min.js")
@Scripts.Render("`/Scripts/jquery.easing.1.3.js")
 @Scripts.Render("http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.js")

<script type="text/javascript">
    $(document).ready(function () {
        $('.hiddenInput').hide();


        $('.previewImageSlideShow').hide();
        $("#linkProductAdmin").addClass("selected");


        //-----------------------------------------------

        $('.divClosePreview').live({
            click: function (event) {
                event.preventDefault();
                $('.previewImageSlideShow').hide().empty();

                return false;
            }
        });
        //------------------------------------------


        $('.moveLeft').hover(
    function () {
        $(this).attr('src', 'http://pics.ebaystatic.com/aw/pics/icon/iconMoveLt_16x16.gif')
    },
    function () {
        $(this).attr('src', '../../Content/Images/iconMoveLtSelected_16x16.gif')
    }
)



        //-----------------------------------------
        $('#divUploadImage').live({
            click: function (event) {
                event.preventDefault();

                /* if (window.File && window.FileReader && window.FileList && window.Blob) {
                alert(' Great success! All the File APIs are supported.');
                } else {
                alert('The File APIs are not fully supported in this browser.
                You can not see preview upoaded images ');
                }*/

                var btn;
                if (window.URL || window.webkitURL) {
                    btn = $("<input type='file'  class='uploadFiles'  name='file'/>");
                    btn.click();
                    btn.appendTo($("#uploadHidden"));
                    btn.hide();
                }
                else { //IE , onpropertychange, IE DOES NOT SUPPORT SIMULATED CLICKS ON A FILE INPUT!
                    // It is a security issue in msie, when the browser detects any javascript meddling with a file input field, it refuses to submit the form
                    //http://jsfiddle.net/djibouti33/uP7A9/ LABEL
                    $("#divUpoadPreviewImagesIE").html("The File APIs are not fully supported in this browser.<br/> You can not see preview upoaded images.");
                    btn = $("<input type='file' class='uploadFiles' onchange='onchangeInputFile(this)' name='file'/>");

                    btn.appendTo($("#uploadHidden"));
                    //btn.hide();
                    // btn.click();


                }


                return false;
            }
        });
        //---------------------------------------------------

        // http://stackoverflow.com/questions/1832907/is-there-any-way-to-read-out-the-naturalwidth-of-an-image-with-jquery
        // code from comments,   naturalWidth,naturalHeight forIE
        jQuery.fn.calculateNaturalWidth = function () {// (onNaturalWidthDefined) {
            var img = this[0];
            var naturalWidth = img.naturalWidth;
            if (naturalWidth) {
                // onNaturalWidthDefined(img);
            } else { //No naturalWidth attribute in IE<9 - calculate it manually.
                var newImg = new Image();
                newImg.src = img.src;
                //Wait for image to load
                if (newImg.complete) {
                    img.naturalWidth = newImg.width;
                    img.naturalHeight = newImg.height;
                    //onNaturalWidthDefined(img);
                } else {
                    $(newImg).load(function () {
                        img.naturalWidth = newImg.width;
                        img.naturalHeight = newImg.height;
                        // onNaturalWidthDefined(img) 
                    });
                }
            }
        };


        //--------------------------------
        $('#divPreviewImages').live({
            click: function (event) {
                event.preventDefault();


                var divSlide = $(".previewImageSlideShow");
                divSlide.empty();

                var div = $("<div  class='productTitlePictureSet'></div>");

                var tds = $(".tdImageFromSet");

                if (tds.length > 0) {

                    tds.each(function (index, element) {

                        var image = "<img src='{0}' {1} height='{2}' width='{3}'/>";
                        var imageFromTd = $("img", element)
                        var src = imageFromTd.attr("src");
                        //IE <9
                        //imageFromTd.calculateNaturalWidth(function (img) { alert(img.naturalWidth + "  " + img.naturalHeight) });
                        imageFromTd.calculateNaturalWidth();
                        var w = imageFromTd.get(0).naturalWidth;

                        var h = imageFromTd.get(0).naturalHeight;
                        var ww = 332, hh = 400;

                        if (w > h) {
                            hh = parseInt((h * ww) / w);
                        }
                        else {
                            ww = parseInt((hh * w) / h);
                        }

                        if (src != null) {
                            image = image.replace(/\{0\}/g, src);

                            if (index == 0) {
                                image = image.replace(/\{1\}/g, "class='first'");
                            }
                            else {
                                image = image.replace(/\{1\}/g, "");
                            }

                            image = image.replace(/\{2\}/g, hh);
                            image = image.replace(/\{3\}/g, ww);

                            var img = $(image);

                            img.appendTo(div);

                        }
                    });

                    var imgData = {
                        Name: $('#ProductTitle_Name').val(),
                        Brand: $('#ProductTitle_Brand_Id option:selected').text(),
                        Price: $('#ProductTitle_Price').val(),
                        Description: $('#ProductTitle_Description').val()
                    };
                    if (imgData.Name == null) imgData.Name = new Array(15).join(' ');


                    var el = $("#ProductPreviewSlideShow").tmpl(imgData);

                    div.appendTo($("#divAttachPictures", el));

                    div.cycle({ delay: -100 });
                    el.appendTo(divSlide);

                    divSlide.css('position', 'absolute');
                    divSlide.show();

                }
                return false;
            }
        });

        //--------------------------------------------------------------

        (function ($) {
            // if ($.browser.msie == false) return;
            if (!(window.URL || window.webkitURL)) return;
            $('.uploadFiles').live({

                change: function (event) {

                    var err = "", found = false;
                    var validFileExtensions = ["jpg", "jpeg", "bmp", "gif", "png"];
                    var file = event.target.files[0];
                    var fileext = file.name.substr(file.name.lastIndexOf('.') + 1);
                    fileext = fileext.toLowerCase();

                    for (var i = 0, l = validFileExtensions.length; i < l; i++) {
                        if (validFileExtensions[i] == fileext) found = true;
                    }
                    if (!found) err = "File is not an image. ";

                    var filesize = file.size;
                    if (filesize > 3000000) err += "File  size  more than 3000000. "

                    if (err != "") { alert("Selected file can't be added." + err); return false; }

                    var tmppath = URL.createObjectURL(event.target.files[0]);


                    // width= 170
                    // var height = 198;


                    var imgData = { imgSrc: tmppath,
                        imageId: "0",
                        //width: width,
                        height: 198,
                        orderId: $(".tblProductImageGallery td").length + 1
                    };

                    var el = $("#ProductImageTmpl").tmpl(imgData);

                    var target = $(".tblProductImageGallery tr");
                    if ((target.children().length == 1) && ($("img, target").hasClass("noImage"))) {
                        target.empty();
                    }

                    (el.prepend($(this))).appendTo(target);
                    $("#hasImages").val("1");
                }
            });

        })(jQuery);


        //-----------------------------------------------------

        /*  $('.uploadFilesOld').live({

        change: function (event) {

        var err = "", found = false;
        var validFileExtensions = ["jpg", "jpeg", "bmp", "gif", "png"];
        var file = event.target.files[0];
        var fileext = file.name.substr(file.name.lastIndexOf('.') + 1);
        fileext = fileext.toLowerCase();



        for (var i = 0, l = validFileExtensions.length; i < l; i++) {
        if (validFileExtensions[i] == fileext) found = true;
        }
        if (!found) err = "File is not an image. ";

        var filesize = file.size;
        if (filesize > 3000000) err += "File  size  more than 3000000. "

        if (err != "") { alert("Selected file can't be added." + err); return false; }

        var tmppath = URL.createObjectURL(event.target.files[0]);

        var imgHidden = $("#imgHidden");
        // imgHidden.removeAttr("width").removeAttr("height");
        imgHidden.attr("src", tmppath);

        var originalheight = document.getElementById("imgHidden").naturalHeight; //height();
        var originalwidth = imgHidden.width();

        alert("w- " + originalwidth + " h- " + originalheight);

        var height = 198;
        var width = parseInt((originalwidth / originalheight) * height);

        var imgData = { imgSrc: tmppath,
        imageId: "0",
        width: width,
        height: height,
        orderId: $(".tblProductImageGallery td").length + 1
        };

        var el = $("#ProductImageTmpl").tmpl(imgData);

        var target = $(".tblProductImageGallery tr");
        if ((target.children().length == 1) && ($("img, target").hasClass("noImage"))) {
        target.empty();
        }

        (el.prepend($(this))).appendTo(target);
        $("#hasImages").val("1");
        }
        });*/

        //------------------------------------------
        $('.removeImage').live({
            click: function (event) {
                event.preventDefault();
                var td = $(this).closest('td');
                var r = confirm("Do yoy want to delete the picture?");
                if (r) {
                    td.empty().remove();
                    var target = $(".tblProductImageGallery tr");
                    if (target.children().length == 0) {
                        $("<td><img class='noImage' src='../../Content/Images/no-image.jpg' alt='no-image'/></td> ").appendTo(target);
                        $("#hasImages").val("0");
                    }
                }
                return false;
            }

        });

        //------------------------------------

        $('.moveRight').live({
            click: function (event) {
                event.preventDefault();
                var parent = $(this).parent().parent();
                var parentRightSibling = parent.next();
                parent.insertAfter(parentRightSibling);
                return false;
            }
        });

        //---------------------------------------------------
        $('.moveLeft').live({
            click: function (event) {
                event.preventDefault();
                var parent = $(this).parent().parent();
                var parentLeftSibling = parent.prev();
                parent.insertBefore(parentLeftSibling);
                return false;
            }

        });
        //----------------------------------------------------

        $('.inputColorSizeSelectedTbl, .inputColorSizeTbl').live({
            change: function (event) {


                var input = $(this);
                if (input.val() > 0) {
                    if (input.hasClass("inputColorSizeTbl")) {
                        input.removeClass("inputColorSizeTbl").addClass("inputColorSizeSelectedTbl");
                    }
                }

                else {
                    if (input.hasClass("inputColorSizeSelectedTbl")) {
                        input.removeClass("inputColorSizeSelectedTbl").addClass("inputColorSizeTbl");
                    }
                }

                event.preventDefault();
            }

        });


        //-----------------------------------------------------------
    }) 
</script> 





<script type="text/javascript">






    //For IE
    function onchangeInputFile(input) {
        // if (window.event.propertyName != 'value') return;

        var err = "", found = false;
        var validFileExtensions = ["jpg", "jpeg", "bmp", "gif", "png"];



        var filename = input.value;


        var fileext = filename.substr(filename.lastIndexOf('.') + 1);
        fileext = fileext.toLowerCase();



        for (var i = 0, l = validFileExtensions.length; i < l; i++) {
            if (validFileExtensions[i] == fileext) found = true;
        }
        if (!found) err = "File is not an image. ";

        var filesize = input.size;

        if (filesize > 3000000) err += "File  size  more than 3000000. "

        if (err != "") { alert("Selected file can't be added." + err); return false; }

        var imageUrl = filename;


        var height = 198;
        var width = 170;

        var imgData = { imgSrc: imageUrl,
            imageId: "0",
            width: width,
            height: height,
            orderId: $(".tblProductImageGallery td").length + 1
        };




        // need to add  submitform to get image
        /*  $.ajax({
        url: '@Html.Resolve("/Product/GetImageAndSendBack")',
        type: 'POST',
        dataType: 'json',
        data: JSON.stringify(input.value),
        contentType: 'application/json; charset=utf-8',
        error:
        function (xhr, ajaxOptions, thrownError) {
        alert(xhr.status + "  " + thrownError);

        $(".imageGalleryItem", el).remove();
        el.text(filename);
        },
        success: function (data) {

        if (!data == null) $(".imageGalleryItem", el).attr("src", data);
        }
        });   */



        /*    alert($("#uploadHidden").html());

        var el = $("#ProductImageTmpl").tmpl(imgData);

        var target = $(".tblProductImageGallery tr");
        if ((target.children().length == 1) && ($("img, target").hasClass("noImage"))) {
        target.empty();
        }

        (el.prepend($("#uploadHidden .uploadFiles"))).appendTo(target);*/



        $(" <input type='hidden' name='fileId' class='hiddenInput' value='0'/>").appendTo($("#uploadHidden"));
        $("#hasImages").val("1");



    }               
                           
                
</script>                      
    
 <script id = "ProductImageTmpl" type="text/html">
<td class="tdImageFromSet">
         <input type='hidden' name='fileId' class='hiddenInput' value='0'/>
         <img  class='imageGalleryItem' src='${imgSrc}' style='height:${height}px;'/>         
       <div class="divImageMenu" >
<span class="moveLeft">
<img alt="Move left" title="Move left" src="http://pics.ebaystatic.com/aw/pics/icon/iconMoveLt_16x16.gif"
onmouseover="this.src='../../Content/Images/iconMoveLtSelected_16x16.gif'"  
onmouseout="this.src='http://pics.ebaystatic.com/aw/pics/icon/iconMoveLt_16x16.gif'"
border="0" />
</span>
<span class="removeImage">
<img alt="Remove" title="Remove" src="http://pics.ebaystatic.com/aw/pics/icon/iconTrashcan_16x16.gif" 
onmouseover="this.src='../../Content/Images/iconTrashcanSelected_16x16.gif'"  
onmouseout="this.src='http://pics.ebaystatic.com/aw/pics/icon/iconTrashcan_16x16.gif'"
 border="0"/>
</span>
<span class="moveRight">
<img alt="Move right" title="Move right" src="http://pics.ebaystatic.com/aw/pics/icon/iconMoveRt_16x16.gif" 
onmouseover="this.src='../../Content/Images/iconMoveRtSelected_16x16.gif'"  
onmouseout="this.src='http://pics.ebaystatic.com/aw/pics/icon/iconMoveRt_16x16.gif'"

 border="0"/>
</td>

</script>   




<script id = "ProductPreviewSlideShow" type="text/html">
<table id='tblProductPreviewSlideShow' style='width:600px;' id='tblFromProductDetails'>
<tr><td  colspan='2'><div class='divClosePreview'>X</div></td></tr>
<tr><td><div id='divAttachPictures'></div></td>

<td style='vertical-align:top;'><b><h3><b>${Brand}<br/> ${Name}</b> ${Price}$</h3>

<div id="divProductDescription"> <pre>${Description}</pre></div>
</td></tr></table>

</script>      

}