﻿

          <div class="editor-field"> 
   
                @if (productTitle.ProductImage == null || productTitle.ProductImage.ImageData == null)
                {                    
                            <img   src="../../Content/Images/no-image.jpg" / width="100" alt="no-image" />                   
                }
                else
                {    
                            <img width="100"  alt= "image" src="@Url.Action("GetImage", "ProductAdmin",
                            new { productTitle.ProductImage.Id })" />                                                          
                }
               <div class="editor-field"> Upload new image:
                        <input type="file" name="image" id="image"/>
                 </div>      
               </div> 
    
            
            @:Files: <input type="file" id="files" name="files"  accept="image/*"/><br/>

        <div id="selectedFiles"></div> 
    
              
         

    
    
}