﻿@using DDD.Service.Model;
@using DDD.Domain.Abstract;
@using DDD.WebUI.Infrastructure.HTMLHelpers;
@using DDD.Domain.Entities;
@model DDD.WebUI.ViewModels.Admin.ProductEditAdminViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@section TitleContent {
       ADMIN       
}

@{
    
    IEnumerable<Category> categories = Model.Categories;
    IEnumerable<Brand> brands = Model.Brands;
    ProductQuantity[,] quantity = Model.ArrayOfQuantity;
    ProductTitle productTitle = Model.ProductTitle;
  
}


@section MainContent {



<div class="divShowBrowserInfo" style="width:200px;">
    @if (Model.ProductTitle.Id > 0)
    {
        <h3>Edit product #@Model.ProductTitle.Id</h3> 
    }
    else
    {
        <h3>New product </h3>             
    }     
 <div class="divAllAboutBrowser">
 </div>
</div> 



@using (Html.BeginForm("Edit", "ProductAdmin", FormMethod.Post, new { enctype = "multipart/form-data", id ="formEdit" }))
{      
    <div class="tblset"> 
                     
              @Html.Partial("ProductImageGallery", productTitle)




                                             
     </div>
    
          <div class="fieldset">
              @Html.HiddenFor(p => p.ProductTitle.Id)
              @Html.Hidden("returnUrl", @Model.ReturnUrl)
              @Html.LabelFor(p => p.ProductTitle.Name)
              @Html.EditorFor(p => p.ProductTitle.Name)
              @Html.ValidationMessageFor(p => p.ProductTitle.Name)             
        </div>
        
         <div class="fieldset">       
              @Html.LabelFor(p => productTitle.Category)
               @Html.DropDownListForIAttributeSourceFor(p => p.ProductTitle.Category.Id, categories,
                    Model.ProductTitle.Category.Id == 0 ? "Select category" : null) 
              @Html.ValidationMessageFor(p => p.ProductTitle.Category.Id)
          </div>
          
  
          <div class="fieldset">       
              @Html.LabelFor(model => productTitle.Brand)
              @Html.DropDownListForIAttributeSourceFor(p => p.ProductTitle.Brand.Id,
                                    brands, "Select brand")
              @Html.ValidationMessageFor(p => p.ProductTitle.Brand.Id)
          </div>
      
    
    
    <div class="fieldset">
              @Html.LabelFor(p => p.ProductTitle.Price)
              @Html.EditorFor(p => p.ProductTitle.Price)
              @Html.ValidationMessageFor(p => p.ProductTitle.Price)
              
        </div> 
        
     <div class="fieldset">            
              @Html.LabelFor(p => p.ProductTitle.Description)
              @Html.ValidationMessageFor(p => p.ProductTitle.Description)<br /><br />
              @Html.EditorFor(p => p.ProductTitle.Description)
                        
        </div> 
   
    <div class="tblset">
              @Html.LabelFor(p => p.ProductTitle.ProductsQuantity)
              @Html.QuantityGrid(quantity, null, ViewData.ModelState)                     
     </div>

    <div class="editor-btn">        
              <input type="submit" value="Save" />
              @Html.Hyperlink(Model.ReturnUrl, "Cancel and return to Product List")
    </div>
    
                   
    <div id="uploadHidden"> </div> 
   
    
} 
<div id="frm"></div> 

@Scripts.Render("~/Scripts/jquery-1.7.1.js")
@Scripts.Render("http://malsup.github.io/min/jquery.cycle.all.min.js")
@Scripts.Render("`/Scripts/jquery.easing.1.3.js")
@Scripts.Render("http://ajax.microsoft.com/ajax/jquery.templates/beta1/jquery.tmpl.js")

<script type="text/javascript">
    $(document).ready(function () {
        $('.hiddenInput').hide();


        $('.previewImageSlideShow').hide();
        $("#linkProductAdmin").addClass("selected");




        //---------------------------------------------------------
        // Info about browser on hover at <div><H3>
        //---------------------------------------------------------------
        var text = ""
        if (window.URL || window.webkitURL)
            text = "Window.URL are supported in this browser";

        else if (window.File && window.FileReader && window.FileList && window.Blob)
            text = "All the File APIs are supported in this browser. Window.URL are not supported. Preview images made with File APIs ."

        else
            text = "The File APIs are not fully supported in this browser. " +
                    "Preview images works via IFrame with image.src= Base64String. " +
                    "New added images converted to ThumbnailImage for preview. " +
                    "Browser only supports Base64 URI images up to 32kb in size.";

        $(".divAllAboutBrowser").text(text);






        //-----------------------------------------
        //  Natural Width
        // http://stackoverflow.com/questions/1832907/is-there-any-way-to-read-out-the-naturalwidth-of-an-image-with-jquery
        // code from comments,   naturalWidth,naturalHeight forIE
        //--------------------------------------------------------
        jQuery.fn.calculateNaturalWidth = function () {

            var img = this[0];

            var naturalWidth = img.naturalWidth;
            if (!naturalWidth) {
                //No naturalWidth attribute in IE < 9 - calculate it manually.

                var newImg = new Image();
                newImg.src = img.src;
                alert(img.src);
                //Wait for image to load
                if (newImg.complete) {
                    img.naturalWidth = newImg.width;
                    img.naturalHeight = newImg.height;
                }
                else {
                    $(newImg).load(function () {
                        img.naturalWidth = newImg.width;
                        img.naturalHeight = newImg.height;
                    });
                }

            }
        };




        //------------------------------------
        // exit button for slide shhow
        //-------------------------------------
        $('.divClosePreview').live({
            click: function (event) {
                event.preventDefault();
                $('.previewImageSlideShow').hide().empty();

                return false;
            }
        });




        //------------------------------------
        // Preview Slide Show
        //------------------------------------

        $('#divPreviewImages').live({
            click: function (event) {
                event.preventDefault();


                var divSlide = $(".previewImageSlideShow");
                divSlide.empty();

                var div = $("<div  class='productTitlePictureSet'></div>");

                var tds = $(".tdImageFromSet");

                if (tds.length > 0) {

                    tds.each(function (index, element) {

                        var image = "<img src='{0}' {1} height='{2}' width='{3}'/>";
                        var imageFromTd = $("img", element)
                        var src = imageFromTd.attr("src");

                        // resize image to fit slideshow table
                        imageFromTd.calculateNaturalWidth();
                        var w = imageFromTd.get(0).naturalWidth;

                        var h = imageFromTd.get(0).naturalHeight;
                        var ww = 332, hh = 400;

                        if (w > h) {
                            hh = parseInt((h * ww) / w);
                        }
                        else {
                            ww = parseInt((hh * w) / h);
                        }


                        // set class "first" - first image in slide show
                        if (src != null) {
                            image = image.replace(/\{0\}/g, src);

                            if (index == 0) {
                                image = image.replace(/\{1\}/g, "class='first'");
                            }
                            else {
                                image = image.replace(/\{1\}/g, "");
                            }

                            image = image.replace(/\{2\}/g, hh);
                            image = image.replace(/\{3\}/g, ww);

                            var img = $(image);

                            img.appendTo(div);

                        }
                    });


                    // template -----------------------
                    var imgData = {
                        Name: $('#ProductTitle_Name').val(),
                        Brand: $('#ProductTitle_Brand_Id option:selected').text(),
                        Price: $('#ProductTitle_Price').val(),
                        Description: $('#ProductTitle_Description').val()
                    };
                    if (imgData.Name == null) imgData.Name = new Array(15).join(' ');


                    var el = $("#ProductPreviewSlideShow").tmpl(imgData);

                    div.appendTo($("#divAttachPictures", el));

                    div.cycle({ delay: -100 });
                    el.appendTo(divSlide);

                    divSlide.css('position', 'absolute');
                    divSlide.show();

                }
                return false;
            }
        });






        //------------------------------------------------------
        // Add images for Old IE
        //--------------------------------------------------------
        (function ($) {

            if ((window.URL || window.webkitURL) ||
                       (window.File && window.FileReader && window.FileList && window.Blob)) return;

            // Change Layout: Remove Preview Slide Show, 
            // OLD IE: 1- Can return image  low quality , 2- reassign img src with base64string rise error
            $("#divPreviewImages").remove();

            // Change Layout : add form 
            var $form = $(
                         "<form  id='formGetImage' action='/Product/PreviewImage/' method='POST' enctype = 'multipart/form-data'><label for='fileinput' id='button' class='trigger-file-input'>Button Label</label><input type='file' id='fileinput' class='fileinput'  name='file'/></form>"
            );

            $form.insertBefore($("#frm"));

            // Change Layout: add iframe 
            var $iframe = $("<iframe id='iframeForImagePreview'  name='iframeForImagePreview'></iframe>");
            $iframe.insertAfter($("#frm"));
             $iframe.hide();

            // Label for input file (IE don't let to program click
            var position = $("#divUploadImage").position();
            var $lbl = $("#button");
            var newtop = (position.top - 27 - ($lbl.position().top)).toString() + "px";
            var newleft = (-(-position.left - 20 + ($lbl.position().left))).toString() + "px";

            $lbl.css({ "position": "relative", "top": newtop, "left": newleft });

            // label and file input ID
            var idForInputFile = 0;


            // labelForInputFile click() made  input file  click
            $('.fileinput').live({
                change:
           function (event) {

               document.getElementById('formGetImage').target = 'iframeForImagePreview';
               //
               var btn = $("#formGetImage").find('input');

               // file name + fakepath
               var path = btn.val();

               var filename = (typeof path === 'string' && (path = path.match(/[^\\\/]+$/)) && path[0]) || '';

               // Check img Ext
               var found = false;
               var validFileExtensions = ["jpg", "jpeg", "bmp", "gif", "png"];
               var fileext = filename.substr(filename.lastIndexOf('.') + 1);
               fileext = fileext.toLowerCase();
               for (var i = 0, l = validFileExtensions.length; i < l; i++) {
                   if (validFileExtensions[i] == fileext) found = true;
               }

               if (!found) { alert("File is not a image"); return false; }



               // Iframe -------------------------------------
               var callback = function () {
                   var imgFromIFame = $('#iframeForImagePreview').contents().find('#imgTarget');
                   var imgError = $('#iframeForImagePreview').contents().find('#imgError').text();
                   if (imgError != "") alert(imgError);
                   else {



                       // Template
                       var imgData = { imgSrc: imgFromIFame.attr("src"), alt: imgFromIFame.attr("alt"),
                           imageId: "0", height: 198, orderId: $(".tblProductImageGallery td").length + 1
                       };



                       var el = $("#ProductImageTmpl").tmpl(imgData);

                       // tmbl too big for return
                       if (imgFromIFame == "") $("img, el").width("170px;");

                       var target = $(".tblProductImageGallery tr");
                       if ((target.children().length == 1) && ($("img, target").hasClass("noImage"))) {
                           target.empty();
                       }

                       //var btn = $("#formGetImage").find('input');

                       $(el.prepend(btn)).appendTo(target);
                       $("#hasImages").val("1");


                       $("#formGetImage").find('label').attr("for", "fileinput" + idForInputFile);

                       // Add new input file and change Label "for" value
                       var newbtn = $("<input type='file' id='fileinput" + idForInputFile + "' class='fileinput'  name='file'/>");
                       $("#formGetImage").append(newbtn);

                       idForInputFile++;
                   }
                   $('#iframeForImagePreview').unbind('load', callback);
               };

               $('#iframeForImagePreview').bind('load', callback);

               $('#formGetImage').submit();

           }
            });
        })(jQuery);







        //-------------------------------------------------------------
        // Add imageswith support FileAPI or window.URL 
        //--------------------------------------------------------------

        (function ($) {

            if (!((window.URL || window.webkitURL) ||
                       (window.File && window.FileReader && window.FileList && window.Blob))) return;


            //----------------------------------------------------

            $('#divUploadImage').live({
                click: function (event) {
                    event.preventDefault();

                    var btn;

                    btn = $("<input type='file'  class='uploadFiles'  name='file'/>");
                    btn.click();
                    btn.appendTo($("#uploadHidden"));
                    btn.hide();

                    return false;
                }
            });



            //---------------------------------------------------

            $('.uploadFiles').live({

                change: function (event) {

                    var err = "", found = false;
                    var validFileExtensions = ["jpg", "jpeg", "bmp", "gif", "png"];
                    var file = event.target.files[0];
                    var fileext = file.name.substr(file.name.lastIndexOf('.') + 1);
                    fileext = fileext.toLowerCase();

                    for (var i = 0, l = validFileExtensions.length; i < l; i++) {
                        if (validFileExtensions[i] == fileext) found = true;
                    }
                    if (!found) err = "File is not an image. ";

                    var filesize = file.size;
                    if (filesize > 3000000) err += "File  size  more than 3000000. "

                    if (err != "") { alert("Selected file can't be added." + err); return false; }


                    //-- Get src with  Window.URL -----------------
                    var tmppath = ""
                    if (window.URL || window.webkitURL)
                        tmppath = URL.createObjectURL(event.target.files[0]);



                    //--  template------------------------------
                    var imgData = { imgSrc: tmppath,
                        imageId: "0",
                        //width: width,
                        height: 198,
                        alt: file.name,
                        orderId: $(".tblProductImageGallery td").length + 1
                    };

                    var el = $("#ProductImageTmpl").tmpl(imgData);




                    //----  Get src with File API -------------------------
                    if (!(window.URL || window.webkitURL)) {
                        var img = el.children(".imageGalleryItem");
                        var reader = new FileReader();

                        reader.onloadend = function () {
                            img.attr("src", reader.result);
                        }

                        reader.readAsDataURL(event.target.files[0]);
                    }


                    var target = $(".tblProductImageGallery tr");

                    if ((target.children().length == 1) && ($("img, target").hasClass("noImage"))) {
                        target.empty();
                    }

                    (el.prepend($(this))).appendTo(target);
                    $("#hasImages").val("1");
                }


            });

        })(jQuery);








        //------------------------------------------
        // Image menu
        //------------------------------------------
        $('.removeImage').live({
            click: function (event) {
                event.preventDefault();
                var td = $(this).closest('td');
                var r = confirm("Do yoy want to delete the picture?");
                if (r) {
                    td.empty().remove();
                    var target = $(".tblProductImageGallery tr");
                    if (target.children().length == 0) {
                        $("<td><img class='noImage' src='../../Content/Images/no-image.jpg' alt='no-image'/></td> ").appendTo(target);
                        $("#hasImages").val("0");
                    }
                }
                return false;
            }

        });

        //------------------------------------

        $('.moveRight').live({
            click: function (event) {
                event.preventDefault();
                var parent = $(this).parent().parent();
                var parentRightSibling = parent.next();
                parent.insertAfter(parentRightSibling);
                return false;
            }
        });

        //---------------------------------------------------
        $('.moveLeft').live({
            click: function (event) {
                event.preventDefault();
                var parent = $(this).parent().parent();
                var parentLeftSibling = parent.prev();
                parent.insertBefore(parentLeftSibling);
                return false;
            }

        });
        //----------------------------------------------------

        $('.inputColorSizeSelectedTbl, .inputColorSizeTbl').live({
            change: function (event) {


                var input = $(this);
                if (input.val() > 0) {
                    if (input.hasClass("inputColorSizeTbl")) {
                        input.removeClass("inputColorSizeTbl").addClass("inputColorSizeSelectedTbl");
                    }
                }

                else {
                    if (input.hasClass("inputColorSizeSelectedTbl")) {
                        input.removeClass("inputColorSizeSelectedTbl").addClass("inputColorSizeTbl");
                    }
                }

                event.preventDefault();
            }

        });


        //-----------------------------------------------------------
    }) 
</script> 





            
    
 <script id = "ProductImageTmpl" type="text/html">
<td class="tdImageFromSet">
         <input type='hidden' name='fileId' class='hiddenInput' value='0'/>
         <img  class='imageGalleryItem' src='${imgSrc}' style='height:${height}px;' alt='${alt}'/>         
       <div class="divImageMenu" >
<span class="moveLeft">
<img alt="Move left" title="Move left" src="http://pics.ebaystatic.com/aw/pics/icon/iconMoveLt_16x16.gif"/>
</span>
<span class="removeImage">
<img alt="Remove" title="Remove" src="http://pics.ebaystatic.com/aw/pics/icon/iconTrashcan_16x16.gif"/> 
</span>
<span class="moveRight">
<img alt="Move right" title="Move right" src="http://pics.ebaystatic.com/aw/pics/icon/iconMoveRt_16x16.gif" />
</td>

</script>   




<script id = "ProductPreviewSlideShow" type="text/html">
<table id='tblProductPreviewSlideShow' style='width:600px;' id='tblFromProductDetails'>
<tr><td  colspan='2'><div class='divClosePreview'>X</div></td></tr>
<tr><td><div id='divAttachPictures'></div></td>

<td style='vertical-align:top;'><b><h3><b>${Brand}<br/> ${Name}</b> ${Price}$</h3>

<div id="divProductDescription"> <pre>${Description}</pre></div>
</td></tr></table>

</script>      

}