﻿<div class="divImageMenu" >
<span class="moveLeft">
<img alt="Move left" title="Move left" src="http://pics.ebaystatic.com/aw/pics/icon/iconMoveLt_16x16.gif"
/>
</span>
<span class="removeImage">
<img alt="Remove" title="Remove" src="http://pics.ebaystatic.com/aw/pics/icon/iconTrashcan_16x16.gif" 
 />
</span>
<span class="moveRight">
<img alt="Move right" title="Move right" src="http://pics.ebaystatic.com/aw/pics/icon/iconMoveRt_16x16.gif" 
/>
</span>
</div>