﻿@using DDD.WebUI.ViewModels.Admin;
@using DDD.WebUI.Infrastructure.HTMLHelpers;
@using DDD.WebUI.ViewModels.Product;
@model  AdminHomePageViewModel

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    
}

@{
    // work!
   //  <form method="link" action="@Html.Raw(Url.Action("Edit", "ProductAdmin", new { item.Id, returnUrl = @Request.Url.PathAndQuery }, null))">
//<input type="submit" value="Clickable Button"/>
//</form>
}

@section TitleContent {
        ADMIN       
}


@section MainContent 
{
@Scripts.Render("~/Scripts/jquery-1.7.1.js")  

@{ PagingInfoModel paging = new PagingInfoModel()
   {
       CurrentPage = Model.CurrentPage,
       NumberOfTitlesFound = Model.AllItemsFound,
       TotalNumberOfPages = Model.TotalPages
   };
}
<div class="pager">
        
        <div class ="divTotalItemsFound">@Html.Label("Total found: ") <span class="spanTotalItemsFound">@Model.AllItemsFound</span></div>     
        
        @Html.Label("Page:") 
        @Html.PageLinks(paging, p => Url.Action("Index", new { CurrentPage = p }))
        @Html.Label("Items per page") 
        @Html.DropDownListForItemsPerPage("NumberOfResultsPerPage", "", null, Model.NumberOfResultsPerPage)
</div>

  
    
  
  
  <table class="tblProductAttributes tblWithImage tblWithPager">
<caption>
Product list  @Html.ActionLink("Add a new product", "Create", new { returnUrl = Request.Url.PathAndQuery })
</caption>
 @using (Html.BeginForm("Index", "ProductAdmin", FormMethod.Get, new { id = "selectForSearch" }))
 { 
  @Html.Hidden("CurrentPage", Model.CurrentPage, new { id = "CurrentPage" })
  @Html.Hidden("ItemsPerPage", Model.NumberOfResultsPerPage, new { id = "ItemsPerPage" })  
  <tr>
    
     <th>Image</th>          
     <th colspan="2">Product</th>
     <th>Product Category</th>
     <th>Product Brand<br /></th>        
     <th>Remove</th>
</tr>


<tr>
     <th>▼</th>
     <th colspan="2">@Html.DropDownListForOrderBy("OrderBy", "Order by ", null, Model.OrderBy)</th>
     <th>@Html.DropDownListForIAttributeSource("CategoryId", Model.CategoryId, Model.Categories, "All Categories")</th>
     <th> @Html.DropDownListForIAttributeSource("BrandId", Model.BrandId, Model.Brands, "All Brands")</th>        
     <th>▼</th>
</tr>
 }
@if (Model.Products == null || Model.Products.Count() == 0)
{
    <tr><td colspan="6">No products selected</td></tr>
}
else
{
    foreach (var item in Model.Products)
    {
    <tr>
       
      
       <td>
      
       @if (item.ProductTitleImages == null || item.ProductTitleImages.Count() == 0)
       {
         <img   src="../../Content/Images/no-image.jpg" / width="60px"  alt="no-image" />                   
       }
       else
       {   
         <div class="showDivMainImage"> <img width="60"  alt= "image-@item.Id" src="@Url.Action("GetImage", "Product", new { item.Id })" />  
                 <div class="divMainImage">
                       <img  alt= "image-@item.Id" src="@Url.Action("GetImage", "Product", new { item.Id })" />
                 </div>
            </div>                   
       }
       
</td>
       
       <td>@item.Id</td>
 <td>     
<table id="tblWithCustomButton">
<tr><td colspan="2">@item.Name</td></tr>
<tr><td colspan="2"> @item.Price$</td></tr>
<tr><td>
<div class="btnCustom"style=
  "width:50px;background-color:#f1f1f1;border:1px solid #999;border-radius:4px;padding:5px; margin-left:0px;  margin-right:5px; margin-top:14px; margin-bottom:0px;">
  <div class="btnCustom" style="padding-right:5px;padding-left:5px">
      <a href="@Html.Raw(Url.Action("Edit", "ProductAdmin", new { item.Id, returnUrl = Request.Url.PathAndQuery }, null))"
       style="text-decoration:none" ><span style=
      "font-size:12px;font-family:Arial;color:#444;font-weight:normal;white-space:nowrap;display:block; text-align:center">
     edit</span></a>
    </div>
  </div>

</td><td>
  <div class="btnCustom" style=
  "width:50px;background-color:#f1f1f1;border:1px solid #999;border-radius:4px;padding:5px; margin-left:5px;  margin-right:0px; margin-top:14px; margin-bottom:0px;">
  <div class="btnCustom" style="padding-right:5px;padding-left:5px">
      <a href="@Url.Action("Details", "Product", new { forCatalog = 0, id = item.Id, ReturnUrl = Request.Url.PathAndQuery })" 
      style="text-decoration:none" ><span style=
      "font-size:12px;font-family:Arial;font-weight:normal;color:#444;white-space:nowrap;display:block; text-align:center">
      view</span></a>
    </div>
  </div>

</td></tr></table>
  
          

   
       
       </td>                       
       <td>@item.Category.Name </td>
       <td>@item.Brand.Name</td>         
        <td>
                         
            @using (Html.BeginForm("Delete", "ProductAdmin"))
            {  <span class="DeleteLink" >
                <img alt="Delete Item " src="http://pics.ebaystatic.com/aw/pics/icon/iconTrashcan_16x16.gif" 
                onmouseover="this.src='../../Content/Images/iconTrashcanSelected_16x16.gif'"
                onmouseout="this.src='http://pics.ebaystatic.com/aw/pics/icon/iconTrashcan_16x16.gif'"  border="0"/>
               </span>
                 @Html.Hidden("Id", item.Id)
                 @Html.Hidden("returnUrl", Request.Url.PathAndQuery)                 
            }
         </td>
</tr>
    }
}


</table>


<script type="text/javascript">
    $(document).ready(function () {
        $("#linkProductAdmin").addClass("selected");

        $('#BrandId, #CategoryId, #OrderBy').change(function () {
            $("#CurrentPage").val("1");
            $("#selectForSearch").submit();
        });

        $('#NumberOfResultsPerPage').change(function (e) {            
            $("#ItemsPerPage").val($(this).val());
            $("#CurrentPage").val("1");
            $("#selectForSearch").submit();
            return false;
        });


        $('.pager a').click(function (e) {
            $("#CurrentPage").val($(this).text());
            $("#selectForSearch").submit();
            return false;
        });

        $('#ItemsPerPage').click(function (e) {
            $("#CurrentPage").val($(this).text());
            $("#selectForSearch").submit();
            return false;
        });


        $('.DeleteLink').click(function () {
            var r = confirm("Do yoy want to delete this product?");
            if (r) {
                $(this).closest('form')[0].submit();
            }
        });






    })

</script>




<script type="text/javascript">


    function deleteProduct(id, item) {

        var jsonData = JSON.stringify({ id : id});
           
        $.ajax({
            url: '@Html.Resolve("/ProductAdmin/DeleteAjax/")',
            type: 'POST',
            dataType: 'json',
            data: jsonData,
            contentType: 'application/json; charset=utf-8',

            error:
                        function (xhr, ajaxOptions, thrownError) {
                            alert(xhr.status + "  " +
                                thrownError);
                        },
            success: function (data) {                
                item.closest("tr").remove();
                
            }
        });

    }

</script>
}